<!--<ion-header>
  <ion-toolbar color="warning">
  <ion-buttons slot="start">
    <ion-menu-button color="primary" name="menu"></ion-menu-button>
  </ion-buttons>
  <ion-title id="titulo" > Iniciar sesion
  </ion-title>
</ion-toolbar>-->
<ion-header no-border>
  <div class="login-header ion-padding">
    
  </div>
</ion-header>

<ion-content>

  <div class="center" style="margin-top:50px">

    <ion-item transparent>
     <!--  <img icon-small src="assets/img/user.png"/>-->
     <ion-icon slot="start" name="person"></ion-icon>
      <ion-input [(ngModel)]="clave_anterior" placeholder="Clave anterior" type="text"></ion-input>
    </ion-item>

    <ion-item transparent>
        <!--  <img icon-small src="assets/img/user.png"/>-->
        <ion-icon slot="start" name="person"></ion-icon>
         <ion-input [(ngModel)]="clave_nueva" placeholder="Clave nueva" type="text"></ion-input>
       </ion-item>

    <br><br> <ion-label (click)="iniciarSesion()" class="forget-password">Ir a iniciar sesion</ion-label><br><br>

     <div linespace></div>
     <ion-button (click)="cambiarPassword()" color="warning" class="ion-button-clas" shape="round" fill="solid" size="large" expand="block" >Registrar</ion-button>
  </div>
</ion-content>
