<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button color="primary" name="menu"></ion-menu-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item class="ion-text-center" lines="none">
      <h2>Developers del proyecto</h2>
    </ion-item>

    <ion-accordion-group [multiple]="true" >

      <ion-accordion value="first" >

        <ion-item slot="header" color="warning">
          Frontend Developer
        </ion-item>
        <div class="ion-padding" slot="content">
          
          - Nombre: Reylis<br>
          - Apellido: Hernandez<br>
          - telefono : 829-683-2546 <br>
          - telegram : <a href="">https://t.me/rfh29</a><br>
          <img src="assets/img/me.jpeg" />
         
        </div>

      </ion-accordion>

      <ion-accordion value="second" >

        <ion-item slot="header" color="warning">
          Backend Developer
        </ion-item>
        <div class="ion-padding" slot="content">
          
          - Nombre: Rafael<br>
          - Apellido: Ortiz calacaño<br>
          - telefono : 829-505-5485 <br>
          - telegram : <a href="">https://t.me/ROC23OO</a><br>
          <img src="assets/img/rafael.jpeg" />
         
        </div>
        
      </ion-accordion>

      <ion-accordion value="third" >

        <ion-item slot="header" color="warning">
          Backend Developer
        </ion-item>
        <div class="ion-padding" slot="content">
          
          - Nombre: Euris Alexander<br>
          - Apellido: Aquino <br>
          - telefono : 829-983-6038  <br>
          - telegram : <a href="">https://t.me/EurisAquino</a><br>
          <img src="assets/img/euri.jpeg" />
         
        </div>
        
      </ion-accordion>

    </ion-accordion-group>

  </ion-card>
  
</ion-content>
